@font-face {
  font-family: 'gt-super';
  src: url('~@/fonts/GT-Super-Display-Super.woff2') format('woff2'),
      url('~@/fonts/GT-Super-Display-Super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt-bold';
  src: url('~@/fonts/GT-Super-Display-Bold.woff2') format('woff2'),
      url('~@/fonts/GT-Super-Display-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt-medium';
  src: url('~@/fonts/GT-Super-Display-Medium.woff2') format('woff2'),
      url('~@/fonts/GT-Super-Display-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklin';
  src: url('~@/fonts/ITCFranklinGothicStd-Med.woff2') format('woff2'),
      url('~@/fonts/ITCFranklinGothicStd-Med.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$gtSuper: 'gt-super', sans-serif;
$gtBold: 'gt-bold', sans-serif;
$gtMedium: 'gt-medium', sans-serif;
$franklin: 'franklin', sans-serif;

/** FONT MIXINS **/
@mixin gt-super() {
  font-family: $gtSuper;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@mixin gt-bold() {
  font-family: $gtBold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@mixin gt-medium() {
  font-family: $gtMedium;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@mixin franklin() {
  font-family: $franklin;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

