@font-face {
    font-family: 'display';
    src: url('~@/fonts/GT-Super-Display-Super.woff2') format('woff2'),
        url('~@/fonts/GT-Super-Display-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$display: 'display', sans-serif;

/** FONT MIXINS **/
@mixin display() {
    font-family: $display;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}


